.listShow {
    margin: auto;
}
.listShow .imgContainer {
   display: flex;
   flex-wrap: wrap;
}

.listShow ul {
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.listShow ul li {
    margin: 0 10px;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10%;
}

.listShow .imgContainer .imgBox {
    width: calc(100% / 4);
    height: auto;
    text-align: center;
}

.listShow .imgContainer .imgBox img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}